@import url("https://fonts.cdnfonts.com/css/br-cobane");
@import url("https://fonts.cdnfonts.com/css/br-shape");
@import url("https://fonts.cdnfonts.com/css/marhey");
@import url('https://fonts.cdnfonts.com/css/br-sonoma');
@import url('https://fonts.cdnfonts.com/css/plush-trial');
@import url('https://fonts.cdnfonts.com/css/varuna');               

body {
  background-image: linear-gradient(
    to left,
    #4f4a4a,
    #3f3b3c,
    #302d2e,
    #222021,
    #141314
  );
  color: white;
}
.main-head {
  text-align: center;
  background-image: linear-gradient(to right top, #9f8383, #c8aaaa, #ffdab3);
  border-radius: 10px;
  padding: 3px;
  -webkit-text-stroke: 2px #001f3d;
  font-family: "BR Cobane", sans-serif;
  width: 40%;
  margin:20px auto;
}
.sub-head {
  background-color: #91bacd;
  background-image: linear-gradient(to right, #91bacd, #c9b876);
  background-clip: text;
  color: transparent;
  width: 21%;
  font-family: "BR Shape", sans-serif;
  border-right: 5px solid rgb(235, 123, 123);
  border-radius: 10px;
  border-top: 5px solid rgb(235, 123, 123);
  padding: 10px;
  margin: 30px auto;
  box-shadow: -5px 5px 7px rgb(235, 123, 123);
}
.aud {
  margin-left:20px;
  margin-top: 25px;
  color: rgb(232, 168, 168);
  font-family: "Marhey", sans-serif;
}
.song {
  width: 95%;
  box-shadow: 5px 8px 10px rgb(243, 219, 184);
  border-radius: 28px;
  margin-left: 20px;
  margin-right: 20px;
}
.sub-head1 {
  background-color: #89c9e7;
  background-image: linear-gradient(to right, #91bacd, #c9b876);
  background-clip: text;
  color: transparent;
  width: 55%;
  font-family: "BR Shape", sans-serif;
  border-left: 5px solid rgb(235, 123, 123);
  border-radius: 10px;
  border-bottom: 5px solid rgb(235, 123, 123);
  padding: 10px;
  margin: 50px auto;
   box-shadow: 5px -5px 7px rgb(235, 123, 123);
}
.films-title {
  background: linear-gradient(to right, #fce7c2, #f19785);
  background-clip: text;
  color: transparent;
  width: 80%;
  font-family: 'BR Sonoma', sans-serif;
  margin-left: 20px;
  font-size: 25px;
}
.description{
  background: linear-gradient(to right, #D2DCB6, #F1F3E0);
  background-clip: text;
  color: transparent;
  font-family: 'Plush-Trial', sans-serif;
  margin: 40px 20px;
  border-left: 2px solid #f8a0a0;
  border-top: 2px solid #f7baba;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 4px 4px 15px #CBCBCB ;
  font-size: 20px;

}
.high-light{
  background-color: #feccc1;
  color: #2d3436;
  padding: 5px 5px;
  border-radius: 5px;
  font-family: 'VARUNA', sans-serif;
}
.poster1{
  margin: 20px 20px 20px 60px;
  border-right: 5px solid #feccc1;
  border-bottom: 5px solid #fea895;
  box-shadow: -10px -10px 30px #fea895;
  border-radius: 20px;
}
.poster2{
  margin: 20px 10px 20px;
  border-left: 4px solid rgb(246, 208, 151);
  border-top: 4px solid rgb(248, 207, 147);
  box-shadow: 10px 10px 30px rgb(244, 215, 170);
  border-radius: 20px;
}
